<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(90, 90, 90, 0.8);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">INCIDENT MANAGER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- This is for the icons -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">
                        <i class="fa-solid fa-lg fa-house-crack"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/incident-report">
                        <i class="fa-solid fa-flag"></i> Incident Report
                    </a>
                </li>
            </ul>
        </div> <!-- Closing div for "collapse navbar-collapse" -->
    </div> <!-- Closing div for "container-fluid" -->
</nav>
