<!-- bottom navbar -->
<nav class="navbar fixed-bottom navbar-dark" style="background-color: rgba(90, 90, 90, 0.8);">
<h10 class="navbar-text">All Rights Reserved by Final Group 10: Omar, Prashanth, Abishan, Ayaan, Sangeethan | &copy; Copyright 2023. </h10>
</nav>