<!-- bottom navbar -->
<nav class="navbar fixed-bottom navbar-dark" style="background-color: rgba(122, 122, 122, 0.8);">
    <h10 class="navbar-text">&copy; Copyright 2023. All Rights Reserved by Final Group 10 </h10>
</nav>