<!-- bottom navbar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark" >
    <h10 class="navbar-text">&copy; Copyright 2023. All Rights Reserved by Final Group 10 | Demo Video: <a href="https://youtu.be/WsFMwAaRgVA"> Click Here </a> </h10>
</nav>
