<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/Assets/system.png" alt="Logo" class="img-fluid logo" width="100"> INCIDENT MANAGER
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!--this is for the icons-->
                <li class="nav-item">
                    <% if (title == "Home") { %>
                        <a class="nav-link active" aria-current="page" href="/home">
                            <% } else { %>
                                <a class="nav-link" aria-current="page" href="/home">
                                    <% } %>
                                        <i class="fa-solid fa-lg fa-house-crack"></i> Home</a>
                </li>


                <li class="nav-item">

                    <% if (title == "report") { %>
                        <a class="nav-link active" aria-current="page" href="/assignments"> <i class="fa-solid fa-flag"></i> Incident Report</a>
                        <% } else { %>
                            <a class="nav-link" aria-current="page" href="/assignments"> <i class="fa-solid fa-flag"></i> Incident Report</a>
                            <% } %>
                </li>


                <% if(typeof displayName =='string' && displayName) { %>
                    <li class="navbar-text">
                        <i class="fas fa-lg fa-user"></i> Welcome,
                        <%= displayName %>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">
                            <i class="fas fa-lg fa-sign-out-alt"></i>Logout</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">
                                <i class="fas fa-lg fa-sign-in-alt"></i>Login</a>
                        </li>
                        <% } %>
        </div>
    </div>
</nav>