body,
h1,
h2,
p,
ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif, Times, serif, sans-serif;
    background-color: #000;
    /* Change to black */
    color: #fff;
    /* Change to white */
}

#header {
    text-align: center;
    background-color: #1100F5;
    color: #fff;
    /* Change to white */
    padding: 20px 0;
}

#homeSection {
    background: linear-gradient(135deg, #ffb302fc, #ff0000);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homeSection p {
    font-size: 24px;
    font-weight: bold;
}

#footer {
    background-color: #D4E1FA;
    color: #000;
    /* Change to black */
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navLink {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navLink:hover {
    color: #59e518;
}

.colRight {
    display: block;
    text-align: left;
    background: linear-gradient(#ff0066, #6600ff);
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 100px;
}