/* custom css goes here */
/*using the tag <!important> give the css more preference over bootstrap */

body, h1, h2, p, ul {
    padding: 0;
    margin: 0;}

body {
    font-family: Arial, sans-serif, Times, serif, sans-serif;
    background-color: #f0f0f0;   }
#header {
    text-align: center;
    background-color: #1100F5; 
    color: #000000; 
    padding: 20px 0;}

.header.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}

.logo h1 {
    font-size: 26px;
    margin: 0;}

.navList {
    display: flex;
    list-style: none;
}

.navLink {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navLink:hover {
    color: #59e518; 
}

#homeSection {
    background: linear-gradient(135deg, #ffb302fc, #ff0000); 
    color: #fff; 
    padding: 20px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
#homeSection p {
    font-size: 24px; 
font-weight: bold;}
#footer{
    background-color: #D4E1FA;
    color: #000000; 
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;}

.footer.container {
    display: flex;
    flex-direction: column;
    align-items: center;}

.logo h3 {
    font-size: 20px;
    margin-bottom: 10px;}

.logo p {
    font-size: 12px; 

    margin-bottom: 20px; }
h2 {

    font-size: 20px; 
    font-weight: bold;}
/* below is the contact stuff*/
    .contactItems {
        width: 100%;
        max-width: 400px;
    }
    
    .contact.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .contactinfo form,
    .contactinfo p {
        text-align: center;
        margin-top: 5px;
    }
    
    #contactMe {
        background: linear-gradient(135deg, #ff0066, #6600ff);
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;     
    }

    
    .contactinfo input[type="text"],
    .contactinfo input[type="email"],
    .contactinfo input[type="text"],
    .contactinfo textarea {
        width: 100%;
        padding: 15px;
        font-size: 15px;
    }

/*for about me and projects */
    .colRight {
        display: block; /* Change 'flex' to 'block' */
        text-align: left; /* Use 'text-align' instead of 'justify-content' */
        background: linear-gradient(#ff0066, #6600ff); 
        color: whitesmoke;
        font-size: 20px;
        margin-bottom: 100px; 
    }
    
    .aboutIMG {
        margin-top: 20px;
    }